/*
  Modal
*/
.comparisonModal {
  border: 1px solid black;
  background-color: white;
  width: 50%;
  height: 50%;
  overflow-y: auto;
  position: fixed;
  top: 25%;
  left: 25%;
}
.comparisonModal h6{
  margin: 0;
}
.comparisonTable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  overflow-y: auto;
  background-color: white;
  margin: 0 auto;
}
.comparisonTable thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.comparisonTable th {
  font-size: 15px;
  padding: 4px;
  text-align: center;
}

.comparisonTable td {
  font-size: 15px;
  padding: 8px;
  text-align: center;
}

/*
  carousels div
*/
/*headers and carousels*/
.carousels {
  display: flex;
  flex-direction: column;
}
.rHeader, .oHeader {
  margin-bottom: 15px;
  padding-left: 100px;
  font-size: 15px;
}
/*contains arrows and cards collection*/
.relatedCarousel, .outfitCarousel {
  display: flex;
  max-height: 500px;
  padding-left: 100px;
}
.carBtnContainer {
  flex: 1;
  max-width: 20px;
}
/*arrow*/
.carBtn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/*card collection divs*/
.relatedCardsDiv, .outfitCardsDiv {
  display: flex;
  gap: 40px;
  flex: 4;
  max-width: 1000px;
}
.outfitBtnContainer {
  width: 100%;
  height: 100%;
  max-width: 214px;
  min-height: 335px;
  min-width: 220px;
}
/*add to outfit*/
.outfitBtn {
  background-color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid black;
}
/* card div */
.relatedCardDiv, .outfitCardDiv {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 100%;
  width: 100%;
  max-width: 220px;
  box-sizing: border-box;
  overflow: hidden;
}
/*card top img, pic carousel, act btn*/
.cardTop {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width:300px;
  max-height: 250px;
  object-fit: cover;
}
.mainImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*picture carousel picBtn and picturesDiv*/
.pictureCarousel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  opacity: 0;
}
.pictureCarousel:hover{
  opacity: 1;
}
.picturesDiv {
  display: flex;
  flex: 4;
}
.singlePicContainer {
  width: 100%;
  height: 100%;
}
.singlePicContainer > img {
  width: 100%;
  height: 100%;
  max-width: 43px;
}
.picBtnContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  max-width: 20px;
}
.picBtn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 100%;
}
.cardBottom {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 250px;
}
.prices {
  font-size: 14px;
  font-weight: lighter;
}
.cardName {
  font-weight: normal;
  white-space: nowrap;
  font-size: 15px;
}
.cardCategory {
  font-weight: lighter;
  font-size: 14px;
}
.cardCategory, .cardName, .prices, .starSpan {
  padding-left: 5px;
  height: 100%;
}
/* action btns*/
.BTN {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  border-radius: 50%;
}
.relatedCardDiv > .cardTop > .BTN {
  color: rgb(219, 163, 21);
  background-color: rgb(65, 55, 22);
}
.outfitCardDiv > .cardTop > .BTN {
  color: rgb(212, 77, 77);
  background-color: rgb(70, 24, 24);
}