/*
  Modal
*/
.comparisonModal {
  border: 1px solid black;
  background-color: white;
  width: 50%;
  height: 50%;
  overflow-y: auto;
  position: fixed;
  top: 25%;
  left: 25%;
}
.comparisonModal h6{
  margin: 0;
}
.comparisonTable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  overflow-y: auto;
  background-color: white;
  margin: 0 auto;
}
.comparisonTable thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.comparisonTable th {
  font-size: 15px;
  padding: 4px;
  text-align: center;
}

.comparisonTable td {
  font-size: 15px;
  padding: 8px;
  text-align: center;
}

/*
  carousels div
*/

.carousels {
  display: flex;
  flex-direction: column;
}
.rHeader, .oHeader {
  margin-bottom: 15px;
  align-self: center;
  width: 100%;
}
/*contains arrows and cards collection*/
.relatedCarousel, .outfitCarousel {
  display: grid;
  grid-template-columns: .1fr 1fr .1fr;
  box-sizing: border-box;
}


.carBtn {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
}
/*  cards */

.outfitBtn {
  background-color: white;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-height: 460px;
  min-width: 200px;
}
/* card div */
.relatedCardDiv, .outfitCardDiv {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
/*old css */
.cardTop {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: cover;
}
.mainImg {
  flex: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.pictureCarousel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: min-content repeat(4, 1fr) min-content;
  opacity: 0;
}
.pictureCarousel:hover{
  opacity:1
}
.picBtn {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 18px;
  color: white;
  grid-area: 1 / 1;
}
.pictureCarousel img {
  height: 50px;
  width: 50px;
}
.cardBottom {
  display: flex;
  flex-direction: column;
}
.prices {
  font-size: 14px;
  font-weight: lighter;
}
.cardName {
  font-weight: normal;
  white-space: nowrap;
  font-size: 15px;
}
.cardCategory {
  font-weight: lighter;
  font-size: 14px;
}
.cardCategory, .cardName, .prices, .starSpan {
  padding-left: 5px;
  height: 100%;
}
/* action btns*/
.BTN {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  border-radius: 50%;
}
.relatedCardDiv > .cardTop > .BTN {
  color: rgb(219, 163, 21);
  background-color: rgb(65, 55, 22);
}
.outfitCardDiv > .cardTop > .BTN {
  color: rgb(212, 77, 77);
  background-color: rgb(70, 24, 24);
}