body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#main-component {
  width: 90%;
}

/* ---Stars--- */

.star-box {
  position:relative;
  display: inline-block;
}
.star-box-empty {
  display: flex;
  position: relative;
}

.star-box-full {
  display:flex;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.star-empty {
  display: inline-block;
  font-size: 1rem;
  color: #ddd;
}

.star-full {
  display: inline-block;
  position: flex;
  font-size: 1rem;
  color: #f80;
}

/* PRODUCT DETAIL */

#overviewContainer {

  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 160px) 200px;
}

#photoContainer {
  background-color: rgb(233, 233, 233);
  position: relative;

  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.photoList {
  height: 340px;
  width: 60px;
  position: absolute;
  top: 10%;
  left: 3%;
  margin-bottom: -8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listPhoto {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 2%;

  height: 50px;
  width: 50px;
}

.listPhoto:hover {
  cursor: pointer;
}
.selectedListPhoto {
  margin-top: -2px;
  border-bottom: 2px solid rgb(49, 49, 49);
}

.currentPhoto {
  height: 100%;
  width: 66%;
  position: absolute;
  top: 0%;
  left: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentPhoto img {
  max-width: 100%;
  max-height: 90%;
}

.photoUp {
  font-size: 80%;
  position: absolute;
  top: -6%;
}

.photoDown {
  font-size: 80%;
  position: absolute;
  top: 99%;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 15%;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 4%;
}

.photoExpand {
  position: absolute;

  top: 5%;
  right: 4%;
}

.photoIcon {
  color: rgb(66, 66, 66);
}

.photoIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#detailContainer {
  border: 1px solid black;
  padding-left: 20px;

  grid-column: 4 / 6;
  grid-row: 1 / 4;

}

.styleSelect {
  position: relative;
  width: auto;
}

.checkmark.selected {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 10px;
  padding: 2px;
  position: absolute;
  top: -3px;
  left: 30px;
  width: 10px;
}

.selectorImg {
  border: 2px solid rgb(23, 39, 39);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.selectorImg:hover {
  border: 2px solid blue;
  cursor: pointer;

}

#summaryContainer {
  border: 1px solid black;

  grid-column: 1 / 6;
  grid-row: 4 / 5;
  display: flex;
}

.sloganDesc {
  width: 70%;
}

/*
  Related Products table
*/
.comparisonModal {
  border: 1px solid black;
  background-color: white;
  width: 50%;
  height: 25%;
  overflow-y: auto;
}
.comparisonModal h6{
  margin: 0 auto;
}
.comparisonTable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  overflow-y: auto;
  background-color: white;
  margin: 0 auto;
}
.comparisonTable thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
/* row css */
.comparisonTable th {
  font-size: 15px;
  padding: 4px;
  text-align: center;
}

.comparisonTable td {
  font-size: 15px;
  padding: 8px;
  text-align: center;
}

/*related carousel styling
*/
.carousels {
  height: 50%;
}
#relatedProductsCarousel {

}
.relatedCarousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.relatedCardsDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.relatedCardDiv {
  border: 1px solid black;

}
.prices {
  font-size: 14px;
  font-weight: lighter;
}
.cardName {
  font-weight: lighter;
}
.cardCategory {
  font-weight: lighter;
  font-size: 14px;
}