body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(73, 73, 73);
}

#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#main-component {
  width: 90%;
  position: relative;
}

#main-component h1 {
  background-color: rgb(47, 54, 54);
  color: white;
  padding: 10px;
  margin-top: 0;
}

/* ---Stars--- */

.star-box {
  position:relative;
  display: inline-block;
}
.star-box-empty {
  display: flex;
  position: relative;
}

.star-box-full {
  display:flex;
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.star-empty {
  display: inline-block;
  font-size: 0.9rem;
  color: #ddd;
}

.star-full {
  display: inline-block;
  position: flex;
  font-size: 0.9rem;
  color: #f80;
}

/* Review Breakdown */

.chartContainer {
  width: 25%;
}

/* Review List */

.actual-list {
  height:900px;
  width:75%;
  overflow:hidden;
  overflow-y: auto;
  }

