/* AnswerList.css */
.answersExpanded {
  max-height: 50vh; /* Half of the viewport height */
  overflow-y: auto; /* Make it scrollable */
}

.toggleAnswers {
  display: block;
  margin-top: 10px;
}

/* Answer.css */
.image-thumbnails {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 5px;
}



.modal img {
  width: auto;
  max-height: 80vh;
  max-width: 100%;
}


/* Search.css */
.searchInput {
  width: 80%;
  padding: 8px 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Questionlist.css */

.questionlist-container {
  max-height: 800px;
  overflow-y: auto;
}
/* Question.css */

.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  line-height: 1.5;
}

.question-row {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.question-text {
  font-weight: bold;
}

.question-actions {
  white-space: nowrap;
  margin-left: auto;
}

/* AddQuestion.css */

.modal {
  border: 1px solid black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1000;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.modal input,
.modal textarea {
  width: calc(100% - 20px);
  margin-top: 5px;
  box-sizing: border-box;
}

.error-message {
  color: red;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
  border-radius: 0;
  margin-right: 20px
}

.photos-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.photo-item {
  flex: 0 0 auto;
}

.photo-item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.photo-item img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.remove-photo-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.photo-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box; /* This ensures padding is included in width and height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000;
  overflow: auto;
}

.photo-modal-content {
  position: relative;
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
}

.photo-modal img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.close-modal-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1em;
}


.question-actions a {
  color: HotPink;
  text-decoration: underline;
}

.question-actions a:hover {
  color:deeppink ;
}
.answer-info .link {
  color: HotPink;
  text-decoration: underline;
}

.answer-info .link:hover {
  color: deeppink;
}

.answer-info .reported-text {
  color: gray;
}