/* PRODUCT DETAIL */

#overviewContainer {

  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 160px) 200px;
}

#photoContainer {
  background-color: rgb(233, 233, 233);
  position: relative;

  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

#photoContainer:hover {
  cursor: zoom-in;
}

.expandedContainer {
  background-color: rgba(128, 128, 128, 0.904);
  color: white;
  position: absolute;
  height: 131%;
  top: -18%;
  left: -10%;
  width: 186%;
  z-index: 100;
  text-align: center;
}

.expandedPhoto {
  height: 100%;
}

.closeExpanded {
  position: absolute;
  right: 5%;
  top: 3%;
}

.closeExpanded:hover {
  cursor: pointer;
}

.expArrows .leftArrow {
  position: absolute;
  left: 1%;
}

.expArrows .rightArrow {
  position: absolute;
  right: 1%;
}

.photoList {
  height: 340px;
  width: 60px;
  position: absolute;
  top: 10%;
  left: 3%;
  margin-bottom: -8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listPhoto {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 2%;

  height: 50px;
  width: 50px;
}

.listPhoto:hover {
  cursor: pointer;
}
.selectedListPhoto {
  margin-top: -2px;
  border-bottom: 2px solid rgb(49, 49, 49);
}

.currentPhoto {
  height: 100%;
  width: 66%;
  position: absolute;
  top: 0%;
  left: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentPhoto img {
  max-width: 100%;
  max-height: 90%;
}

.photoUp {
  font-size: 80%;
  position: absolute;
  top: -6%;
}

.photoDown {
  font-size: 80%;
  position: absolute;
  top: 99%;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 15%;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 4%;
}

#photoExpand {
  position: absolute;

  top: 5%;
  right: 4%;
}

.photoIcon {
  color: rgb(66, 66, 66);
}

.photoIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#detailContainer {
  padding-top: 26px;
  padding-left: 26px;

  grid-column: 4 / 6;
  grid-row: 1 / 4;

  display: grid;
  grid-template-rows: 34% 33% 33%;
}

.detailStars {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.readReviews {
  border-bottom: 1px solid black;
  font-size: 10px;
  margin-left: 6px;
}

.prodCat,
.prodPrice {
  font-size: 0.8rem;
  font-weight: 300;
}

.prodPrice {
  padding-bottom: 16px;
  margin-bottom: 5%;
}

.prodName {
  font-size: 1.9rem;
  font-weight: 900;
  padding-bottom: 16px;
  width: 65%;
}

.styleSection {
  display: grid;
  grid-template-rows: 18% 41% 41%;
  grid-template-columns: repeat(4, 16%);
  align-items: center;
}

.styleName {
  grid-column: 1 / 5;
  margin-bottom: 2%;
}

.styleSelect {
  position: relative;
  width: auto;
}

.checkmark.selected {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 9px;
  padding: 2px;
  position: absolute;
  top: -1px;
  left: 35px;
  width: 9px;
}

.selectorImg {
  border: 1px solid rgb(23, 39, 39);
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.selectorImg:hover {
  border: 1px solid blue;
  cursor: pointer;

}

.select {
  background: none;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 0;
  font-size: 12px;
  font-weight: 700;
  height: 30%;
  margin-right: 4%;
}

.select:hover {
  cursor: pointer;
}

.select.size {
  color: rgb(82, 82, 82);
  margin-top: 4%;
  padding-left: 2%;
  padding-right: 5%;
  width: 46%;
}

.select.quant {
  color: rgb(82, 82, 82);
  padding-left: 2%;
  padding-right: 5%;
  width: 24%;
}

.select.add {
  box-shadow: none;
  color: rgb(82, 82, 82);
  margin-top: 4%;
  outline: none;
  padding-left: 3%;
  width: 58%;
  text-align: start;
}

.plus {
  margin-left: 58%;
}

.select.fav {
  box-shadow: none;
  color: black;
  font-size: 14px;
  outline: none;
  width: 12%;
}

#summaryContainer {
  grid-column: 1 / 6;
  grid-row: 4 / 5;
  display: flex;
  padding: 50px 100px 50px 100px;
}

.sloganDesc {
  border-right: 2px solid rgb(121, 121, 121);
  padding-right: 3%;
  width: 62%;
}

.desc {
  margin-top: 2%;
  font-size: 12px;
  font-weight: 300;
}

.features {
  font-size: 12px;
  margin-left: 3%;
  width: 30%;
}

.features .checkmark {
  margin-right: 3%;
}

.features div {
  margin-bottom: 4%;
}